{% extends "base.html" %}
{% load i18n my_filter %}

{% block breadcrumb %}
<div class="pt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    {# <a property="item" typeof="WebPage" href="{% url 'flags:flags-list' %}"> #}
                    <a property="item" typeof="WebPage" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
                        <span property="name">Главная</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                  <a property="item" typeof="WebPage"  href="{% url 'flags:colors-list' %}">
                    <span property="name">Цвета флагов мира</span>
                  </a>
                  <meta property="position" content="2">
                </li>
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                    <span property="name">{{color_count}} {% if color_count > 4 %}цветов{% else %}цвета{% endif %}</span>
                    <meta property="position" content="3">
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
  {# H1 #}
  <div class="pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1>Флаги стран содержащие
          {%if color_count > 1 %}
          {{color_count}} цветов
          {%else%}
          {{color_count}} цвет
          {%endif%}</h1>
        </div>
      </div>
    </div>
  </div>
  {# Flags list #}
  {% include "partials/_flags-list.html" with flags=flags %}
{% endblock content %}

{# Begin SEO block #}
  {% block meta_title %}

  {% endblock meta_title %}

  {# Meta description #}
  {% block meta_description %}

  {% endblock meta_description %}

  {# Meta keywords #}
  {% block meta_keywords %}

  {% endblock meta_keywords %}

  {% block meta_robots %}
  index,follow
  {% endblock meta_robots %}
{# End SEO block #}
