{% extends "base.html" %}
{% load i18n my_filter %}

{% block breadcrumb %}
<div class="pt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    {# <a property="item" typeof="WebPage" href="{% url 'flags:flags-list' %}"> #}
                    <a property="item" typeof="WebPage" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
                        <span property="name">Главная</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                  <a property="item" typeof="WebPage"  href="{% url 'flags:colors-list' %}">
                    <span property="name">Цвета флагов мира</span>
                  </a>
                  <meta property="position" content="2">
                </li>
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                    <span property="name">{{group.name}}</span>
                    <meta property="position" content="3">
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}

{# H1 #}
<div class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
      {% if group.seo_h1 %}
      <h1>{{ group.seo_h1}}</h1>
      {% else %}
        <h1>Флаги стран содержащие {{group.name}} цвет</h1>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{# Flags list #}
{% include "partials/_flags-list.html" with flags=flags %}

{# Color group colorgroup_meanings #}
{% if group.colorgroup_meanings %}
<div class="py-3 bg-light">
  <div class="container">
    <div class="row">
      {{ group.colorgroup_meanings }}
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{# Begin SEO block #}
  {# Canonical #}
  {% block canonical %}{% url 'flags:color-detail' group.slug %}{% endblock canonical %}

  {# Meta title #}
  {% block meta_title %}
    {% if group.seo_title %}
      {{ group.seo_title }}
    {% else %}
      {{group.name}} цвет в составе государственных флагов стран | AllFlags.ru
    {% endif %}
  {% endblock meta_title %}

  {# Meta description #}
  {% block meta_description %}
    {% if group.seo_description %}
      {{ group.seo_description}}
    {% else %}
      {{group.name|upper}}
      цвет {%if flags|length > 15 %}довольно часто {%else%}редко {%endif%}входит в состав цветов государственных флагов
      стран. На AllFlags мы составили полный
      список из {{flags|length}} флагов с этими цветами
    {% endif %}
  {% endblock meta_description %}

  {% block meta_robots %}
  index,follow
  {% endblock meta_robots %}
{# End SEO block #}
