{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<div class="pt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    {# <a property="item" typeof="WebPage" href="{% url 'flags:flags-list' %}"> #}
                    <a property="item" typeof="WebPage" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
                        <span property="name">Главная</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                    <span property="name">Цвета флагов мира</span>
                    <meta property="position" content="2">
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
{# H1 #}
<div class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Все цвета государственных флагов мира</h1>
      </div>
    </div>
  </div>
</div>

{# Color groups list #}
<div class="py-3">
  <div class="container">
    <div class="row">

      {% for group in colors %}
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 py-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ group.name }}</h5>
            <p class="card-text">Список флагов, в цветах которых присутствует <strong>{{ group.name|lower }}</strong>
            </p>
            <div class="colors">
              {% for color in group.colors.all %}
              <div class="color-square" id="btn-tooltip" style="background-color:#{{ color.hex }}" data-toggle="tooltip"
                data-placement="top" title="{{ color.flag.country.name }}: #{{ color.hex }}"></div>
              {% endfor %}
            </div>

            <a href="{% url 'flags:color-detail' group.slug %}">
              Список флагов
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock content %}

{# Begin SEO block #}
  {# Canonical #}
  {% block canonical %}{% url 'flags:colors-list' %}{% endblock canonical %}

  {# Meta title #}
  {% block meta_title %}
    Список цветов на флагах стран - значения цветов на флагах
  {% endblock meta_title %}

  {# Meta description #}
  {% block meta_description %}
    Какие цвета используются на флагах стран? Какие цвета встречаются чаще, а какие реже? Список всех цветов и их значения: красный, оранжевый, желтый, зеленый, голубой, синий, фиолетовый, белый, черный.
  {% endblock meta_description %}

  {# Meta keywords #}
  {% block meta_keywords %}

  {% endblock meta_keywords %}

  {% block meta_robots %}all{% endblock meta_robots %}
{# End SEO block #}
