{% extends "base.html" %}
{% load i18n my_filter %}

{% block content %}
  {# H1 #}
  <div class="pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1>Флаги стран содержащие
          {%if color_count > 1 %}
          {{color_count}} цветов
          {%else%}
          {{color_count}} цвет
          {%endif%}</h1>
        </div>
      </div>
    </div>
  </div>
  {# Flags list #}
  {% include "partials/_flags-list.html" with flags=flags %}
{% endblock content %}

{# Begin SEO block #}
  {% block meta_title %}

  {% endblock meta_title %}

  {# Meta description #}
  {% block meta_description %}

  {% endblock meta_description %}

  {# Meta keywords #}
  {% block meta_keywords %}

  {% endblock meta_keywords %}

  {% block meta_robots %}
  index,follow
  {% endblock meta_robots %}
{# End SEO block #}
