{% extends "base.html" %}
{% load i18n my_filter %}

{% block breadcrumb %}
<div class="pt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="{% url 'flags:flags-list' %}">
                    {# <a property="item" typeof="WebPage" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}"> #}
                        <span property="name">Главная</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                  <span property="name">Элементы флагов</span>
                  <meta property="position" content="2">
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
{# H1 #}
<div class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Что изображено на флагах стран мира</h1>
      </div>
    </div>
  </div>
</div>

{# Flag's elements #}
<div class="py-3 bg-white">
  <div class="container">
    {% for elem in elements %}
    <a href="{% url 'flags:element-detail' elem.slug %}" class="btn btn-outline-primary mb-2">
      {{elem.name}} <span class="badge badge-secondary">{{elem.flags_count}}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{# Begin SEO block #}
  {% block canonical %}{% url 'flags:elements-list' %}{% endblock canonical %}
  {% block meta_title %}{{ seo_title }}{% endblock meta_title %}
  {% block meta_description %}{{ seo_description }}{% endblock meta_description %}
  {% block meta_robots %}index, follow{% endblock meta_robots %}
{# End SEO block #}
