{% extends "base.html" %}
{% load i18n my_filter %}

{% block content %}
{# H1 #}
<div class="pt-5 pb-3">
  <div class="container">
      <div class="row">
        <div class="py-1 py-md-3 col-12 d-flex justify-content-center">
          <h1>Флаги стран мира ({{flags|length}})</h1>
        </div>
      </div>
  </div>
</div>

{# {% regroup flags by country|make_list|first as country_list %} #}

{% include "partials/_flags-list.html" with flags=flags %}

{% endblock content %}

{# Begin SEO block #}
  {# Canonical #}
  {% block canonical %}{% url 'flags:flags-list' %}{% endblock canonical %}
  {% block meta_title %}
  Флаги стран мира с цветами, элементами и краткой информацией о государстве
  {% endblock meta_title %}

  {% block meta_description %}
  Флаги стран мира в картинках - коды цветов, история, описание.
  Список флагов государств с возможностью скачать картинки бесплатно в векторном и растровом форматах.
  {% endblock meta_description %}

  {% block meta_keywords %}{% endblock meta_keywords %}

  {% block meta_robots %}index, follow{% endblock meta_robots %}
{# End SEO block #}
