{% extends "base.html" %}
{% load i18n my_filter %}

{% block breadcrumb %}
<div class="pt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    {# <a property="item" typeof="WebPage" href="{% url 'flags:flags-list' %}"> #}
                    <a property="item" typeof="WebPage" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
                        <span property="name">Главная</span>
                    </a>
                    <meta property="position" content="1">
                </li>
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="{% url 'flags:regions-list' %}">
                        <span property="name">Флаги по регионам</span>
                    </a>
                    <meta property="position" content="2">
                </li>
                {% if region.parent %}
                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="{% url 'flags:region-flags' region.parent.slug %}">
                        <span property="name">{{region.parent}}</span>
                    </a>
                    <meta property="position" content="3">
                </li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
                    <span property="name">{{region.name}}</span>
                    {% if region.parent %}
                    <meta property="position" content="4">
                    {% else %}
                    <meta property="position" content="3">
                    {% endif %}
                </li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
{# H1 #}
<div class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
      {% if region.seo_h1 %}
        <h1>{{region.seo_h1}}</h1>
      {% else %}
        <h1>Флаги стран региона {{region.name}}</h1>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{# Subregions #}
{% if region.subregions.all %}
<div class="py-3 bg-light">
  <div class="container">
    <div class="row">

      {% for subregion in region.subregions.all %}

        {% if subregion.is_published %}
        <div class="py-1 py-md-3 col-12 col-md-3 d-flex justify-content-center">
          <a href="{% url 'flags:subregion-flags' region.slug subregion.slug %}">{{subregion}}</a>
        </div>
        {% elif request.user.is_superuser %}
        <div class="py-1 py-md-3 col-12 col-md-3 d-flex justify-content-center draft">
          <a href="{% url 'flags:subregion-flags' region.slug subregion.slug %}">{{subregion}}</a>
        </div>
        {% endif %}

      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

{# Flags list #}
{% include "partials/_flags-list.html" with flags=flags %}

{% endblock content %}

{# Begin SEO block #}
  {# Canonical #}
  {% block canonical %}{% if region.parent %}{% url 'flags:subregion-flags' region.parent.slug region.slug %}{% else %}{% url 'flags:region-flags' region.slug %}{% endif %}{% endblock canonical %}

  {# Meta title #}
  {% block meta_title %}
  {{region.seo_title}}
  {% endblock meta_title %}

  {# Meta description #}
  {% block meta_description %}
  {{region.seo_description}}
  {% endblock meta_description %}

  {% block meta_robots %}
    {% if region.is_index %}index,{% else %}noindex,{% endif %}
    {% if region.is_follow %}follow{% else %}nofollow{% endif %}
  {% endblock meta_robots %}
{# End SEO block #}
