{% load i18n my_filter %}
<div class="py-3 py-xl-4">
  <div class="container">
    <div class="row">

      {% for flag in flags %}
      <div class="pb-4 col-6 col-md-3 col-lg-2 col-xl-2">
        <div class="flag-card hover-country">
          {% if flag.is_published or request.user.is_superuser %}
          <a href="{% url 'flags:flag-detail' flag.slug %}">
          {% endif %}

            {% for img in flag.downloads.all %}
              {% if img.is_main %}
              <picture itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="name" content="{{img.alt}}">
                <meta itemprop="description" content="{{img.caption}}">
                <meta itemprop="width" content="{{img.image.width}}px">
                <meta itemprop="height" content="{{img.image.height}}px">

                <source type="image/webp" srcset="{{img.webp_xs.url}}, {{img.webp_md.url}} 2x">
                <source type="{{img.source_type}}" srcset="{{img.image_xs.url}}, {{img.image_md.url}} 2x">

                <img itemprop="contentUrl" src="{{img.image.url}}" alt="{{img.alt}}" title="{{img.caption}}" class="image" width="{{img.image.width}}" height="{{img.image.height}}">

              </picture>
              {% endif %}
            {% endfor %}

          {% if flag.is_published or request.user.is_superuser %}
          </a>
          {% endif %}

          <div class="middle">
            <div class="text">
              {% if flag.is_published or request.user.is_superuser %}
              <a href="{% url 'flags:flag-detail' flag.slug %}">
                {{flag.title}}
              </a>
              {% else %}
              <span>
                {{flag.title}}
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
