<footer class="footer">
    <div class="py-3 py-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-none d-md-block">
                   <p class="footer_header">Частые цвета флагов</p>
                   <ul class="list-unstyled">
                        <li><a href="{% url 'flags:color-detail' 'red' %}">Красный</a></li>
                        <li><a href="{% url 'flags:color-detail' 'white' %}">Белый</a></li>
                        <li><a href="{% url 'flags:color-detail' 'green' %}">Зеленый</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <p class="footer_header">Рейтинги и списки</p>
                    <ul class="list-unstyled">
                        <li><a href="#">Рейтинг стран по населению</a></li>
                        <li><a href="#">Список стран по площади</a></li>
                        <li><a href="#">Список по ВВП (ППС)</a></li>
                    </ul>
                </div>
                <div class="col-4 col-md-6 col-lg-4 col-xs-12">
                    <p class="footer_header">Информация</p>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                        <li><a href="{% url 'advert' %}">Реклама</a></li>
                        <li><a href="{% url 'about-api' %}">API</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--
     <div class="py-3 d-flex justify-content-center copywrite">
        <a href="#" target="_blank" style="text-decoration:none; font-size:14px;">
            <span style="color:#fffff;font-weight:bold;">baikov.</span>
            <span style="color:#e31e25;font-weight:bold;">dev</span>
        </a>
    </div>
    -->
</footer>
