
{# Schema.org ImageObject #}
<picture itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="name" content="{{img.alt}}">
    <source type="image/webp" srcset="{{img.webp_md.url}}, {{img.webp.url}} 2x" media="(min-width: 601px)">
    <source type="{{img.get_type}}" srcset="{{img.image_md.url}}, {{img.image.url}} 2x" media="(min-width: 601px)">

    <source type="image/webp" srcset="{{img.webp_xs.url}}, {{img.webp_md.url}} 2x" media="(max-width: 601px)">
    <source type="{{img.get_type}}" srcset="{{img.image_xs.url}}, {{img.image_md.url}} 2x" media="(max-width: 601px)">

    <img itemprop="contentUrl" src="{{img.image.url}}" alt="{{img.alt}}" title="{{img.caption}}" class="main-flag" width="{{img.image.width}}" height="{{img.image.height}}">
    <meta itemprop="description" content="{{img.caption}}">
    <meta itemprop="width" content="{{img.image.width}}px">
	<meta itemprop="height" content="{{img.image.height}}px">
</picture>



{# Historical flag images v2 #}
{% for img in h_flag.pictures.all %}
<figure class="figure historical-img">
    <picture>
        <source type="image/webp"
                srcset="{{img.webp|media_resize:'sm'}}">
        <source type="{{img.source_type}}"
                srcset="{{img.image|media_resize:'sm'}}">
        <img src="{{img.image.url}}" alt="{{ img.caption }}">
    </picture>
    <figcaption class="figure-caption text-center">{{img.caption}}</figcaption>
</figure>
{% endfor %}

{# Historical flag images v1 #}
{% for img in h_flag.images.all %}
    {% if img.image and img.webp %}
    <figure class="figure historical-img">
        <picture>
            <source type="image/webp" srcset="{{img.webp|resize:'300'}}">
            <img src="{{img.image|resize:'300'}}" alt="{{img.alt}}"
                title="{{img.alt}}" class="mb-3 mr-3 h-flag">
        </picture>
        {% if img.caption %}
        <figcaption class="figure-caption text-center">{{img.caption}}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
{% endfor %}

{# Carousel #}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    {% for img in h_flag.images.all %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <picture>
                <source type="image/webp" srcset="{{img.webp|resize:'300'}}">

                <img src="{{img.image|resize:'300'}}" alt="{{ img.alt }}"
                    title="img.caption" class="d-block w-100 main-flag">
            </picture>
        </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{# Colors meaning v2 in FAQ accordeon #}
{% if colors.0.meaning %}
<div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="card-header" id="heading-meaning">
        <h3 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-meaning" aria-expanded="true" aria-controls="collapse-meaning">
                <span itemprop="name">Что означают цвета флага {{country.ru_name_rod}}</span>
            </button>
        </h3>
    </div>

    <div id="collapse-meaning" class="collapse" aria-labelledby="heading-meaning" data-parent="#FAQ">
        <div class="card-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <span itemprop="text">
                <ul class="list-unstyled">
                {% for color in colors %}
                    <li><strong>{{color.color_group.name}}:</strong> {{color.meaning}}</li>
                {% endfor %}
                </ul>
            </span>
        </div>
    </div>
</div>
{% endif %}

{# Flag elements v2 #}
{% if flag.elements %}
<p>Элементы флага:
    {% for elem in flag.elements.all %}
    <!--<a href="{% url 'flags:element-detail' elem.slug %}" class="btn btn-outline-primary mb-2">{{elem.name}}</a>-->
    <a href="{% url 'flags:element-detail' elem.slug %}" class="badge badge-primary">{{elem.name}}</a>
    {% endfor %}
</p>
{% endif %}

{# Flag elements v1 #}
{% if flag.elements.all|length > 0 %}
    <div class="card border-primary mb-3">
        <div class="card-body text-primary">
            <h3 class="text-dark text-center">Элементы флага</h3>
            {% for elem in flag.elements.all %}
            <a href="{% url 'flags:element-detail' elem.slug %}"
                class="btn btn-outline-primary mb-2">{{elem.name}}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}

{# Historical flags and history text v2#}
{% if historical|length > 0 or flag.history_text %}
<div class="py-3 py-xl-5">
    <div class="container">
        {% if historical|length > 0 %}
        <h2 class="py-3">Исторические флаги {{country.ru_name_rod}} по годам</h2>
        <div class="history-carousel-hor">
            {% for h_flag in historical %}

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <picture>
                            <source type="image/webp"
                                srcset="{{MEDIA_URL}}/historical-flags/{{h_flag.country.iso_code_a2|lower}}/{{h_flag.country.iso_code_a2|lower}}-{{h_flag.from_year}}-{{h_flag.to_year}}.webp">

                            <img src="{{MEDIA_URL}}/historical-flags/{{h_flag.country.iso_code_a2|lower}}/{{h_flag.country.iso_code_a2|lower}}-{{h_flag.from_year}}-{{h_flag.to_year}}.png" alt="{{ h_flag.title }} {{h_flag.from_year}}-{{h_flag.to_year}}"
                                title="{{ h_flag.title }} {{h_flag.from_year}}-{{h_flag.to_year}} - картинка" class="figure-img img-fluid">
                        </picture>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{h_flag.from_year}}-{{h_flag.to_year}} {{h_flag.title}}</h3>
                            <p class="card-text">{{h_flag.description}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if flag.history_text %}
        <div class="row">
            {{flag.history_text|safe}}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
